.footer {
  margin-top: auto;
  background: url('@img/banner-footer.jpg');
  @include background-cover();
  color: $font-color-light;

  &-copyright {
    color: $color-white-muted;
    font-size: 0.75rem;
    text-align: center;
  }

  &-logo {
    @include padding-top($spacer);
    @include padding-bottom($spacer);
    a {
      @include icon-sink();
    }
  }
}

.mailing-list {
  @include padding-top($spacer-xl);
  @include padding-bottom($spacer-xl);
  h4 {
    margin-top: $spacer-sm;
  }
}

.footer-nav {
  border-top: 1px solid $color-white-transparent;
  @include padding-top($spacer-xl);
  @include padding-bottom($spacer-xl);
  display: grid;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 2.5fr;
    &-body {
      grid-row: span 3;
    }
  }

  .social-icons__item {
    transition: 0.5s;
  }
  .social-icons__item:hover {
    transition: 0.2s;
    .social-icons__link {
      background-color: black;
    }
  }
}

.footer-nav-body {
  white-space: nowrap;

  &__header {
    text-transform: uppercase;
  }

  &__link {
    font-size: $fs-sm;
    &:hover {
      transition: 0.4s;
      color: $color-primary;
    }
  }
}

.mailing-form {
  @include flex(flex, center, center);
  @include padding-top($spacer-sm);
  &__item {
    @include flex(flex, center, center);
    margin-bottom: $spacer-sm;
    &:first-child {
      @include media-breakpoint-up(sm) {
        justify-content: right;
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-up(sm) {
        justify-content: left;
      }
    }

    &:last-child {
      @include padding-top($spacer-xl);
      @include media-breakpoint-up(md) {
        padding-top: 0;
      }
    }
  }

  &__input {
    height: 36px;
    width: 255px;
    padding: 0.625rem 0 0.625rem 1rem;
    border-radius: $border-radius-sm;
    &::placeholder {
      color: $color-gray;
      font-size: $fs-sm;
      padding-left: 5px;
    }
  }
}
