.footer-bg {
  @include absolute(top 0 left 0);
  @include image-cover();
  filter: brightness(0.25) grayscale(50%);
}

.footer {
  position: relative;
  color: $color-light;
  margin-top: auto;
  user-select: none;
}

.footer-container {
  position: relative;
}

.mailing-list {
  @include spacer-vertical('padding', $spacer-xl);
}

.mailing-form {
  @include flex($justify-content: center, $align-items: center);
  @include spacer-top('margin', $spacer-lg);

  &__button {
    @include spacer-top('margin', $spacer-lg);
    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  &__item {
    @include flex($justify-content: center, $align-items: center);

    &:first-child {
      margin-bottom: $spacer-sm;
      @include media-breakpoint-up(sm) {
        justify-content: right;
        margin-bottom: 0;
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-up(sm) {
        justify-content: left;
      }
    }
  }

  &__input {
    height: 2.25rem;
    width: 16rem;
    height: 2.625rem;
    padding: 0.625rem 0 0.625rem 1rem;
    border-radius: $border-radius-sm;

    &::placeholder {
      color: $color-gray;
      font-size: $fs-sm;
      padding-left: 0.5em;
    }
  }
}

.logo-footer {
  @include flex($justify-content: flex-start, $align-items: center);
  max-width: 15rem;
}

.logo-text-footer {
  @extend .logo-text;
  color: $color-light;
  text-decoration: none;
  display: block;
}

.logo-footer-icon {
  @include box(5rem, 5rem);
}

.social-icons {
  @include flex($align-items: center, $flex-wrap: wrap);

  &__item {
    &:not(:last-child) {
      margin-right: 0.7rem;
    }
  }
}

.footer-nav {
  .row {
    justify-content: space-between;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 4rem;
  }

  &__col {
    @include spacer-vertical('margin', $spacer);
  }

  &__list {
    margin-bottom: 0;
  }

  &__header {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
  }

  &__link {
    @include flex($justify-content: center, $flex-direction: column);
    padding: $spacer-sm 0;
    font-size: $fs-sm;
    color: $color-light;
  }
}

.footer-nav-main {
  border-top: 1px solid fade-out($color-light, 0.75);
  @include spacer-top('padding', $spacer-xl);
  @include media-breakpoint-up(sm) {
    @include spacer-bottom('padding', $spacer-xl);
  }
  display: grid;
  grid-template-columns: 1fr;
}

.footer-nav-main {
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1.25fr 2.5fr;
    .footer-nav {
      grid-row: span 3;
    }
  }
}

.footer-phone {
  @include spacer-top('margin', $spacer);
  @include flex($align-items: center);
  p {
    margin: 0;
  }

  &__link {
    padding: 1rem 2rem;
    font-size: $fs-base;
    letter-spacing: 0.1rem;
  }
}

.copyright {
  color: darken($color-light, 40%);
  font-size: 0.75rem;
  text-align: center;
}
