.footer {
  margin-top: auto;
  background: url('@img/banner-footer.jpg');
  @include background-cover();
  color: $font-color-light;

  &-copyright {
    @include padding-top($spacer-lg);
    @include padding-bottom($spacer-lg);
    p {
      color: $color-white-muted;
      font-size: 0.75rem;
      text-align: center;
    }
  }

  &-logo {
    @include padding-top($spacer-lg);
    @include padding-bottom($spacer-lg);
  }
}

.mailing-list {
  @include padding-top($spacer-lg);
  @include padding-bottom($spacer-lg);
}

.footer-nav {
  border-top: 1px solid $color-white-transparent;
  @include padding-top($spacer-lg);
  @include padding-bottom($spacer-lg);
  display: grid;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 2.5fr;
    &-body {
      grid-row: span 3;
    }
  }

  &-socials {
    @include media-breakpoint-down(sm) {
      @include padding-top($spacer-lg);
    }
  }
}

.footer-nav-body {
  white-space: nowrap;

  &__item {
    @include padding-top($spacer-lg);
    @include padding-bottom($spacer-lg);
  }

  &__header {
    margin-top: 0;
    text-transform: uppercase;
  }

  &__link {
    font-size: $fs-sm;
  }
}
