.header._sticky-header {
  @include fixed(top 0 left 0);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 1.5em 1.25em -1.5em;
}

.header {
  @include font-size($fs-sm);
  @include z-index(header);
  width: 100%;
  background-color: $color-light;
  user-select: none;
}

.nav-belt > * {
  @include flex($justify-content: center, $align-items: center);
  @include spacer-vertical('margin', $spacer-sm);
}

.logo-header {
  @include flex($justify-content: center, $align-items: center);
  @include media-breakpoint-up(sm) {
    padding-right: 1rem;
  }
}

.logo-text {
  @include font-size(1.25rem);
  color: $color-secondary;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 0.5em;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.logo-text-light {
  @extend .logo-text;
  color: $color-light;
}

.logo-header-icon {
  border-radius: 100%;
  @include box(2.5rem, 2.5rem);
  @include media-breakpoint-up(lg) {
    @include box(4rem, 4rem);
  }
}

/* ====================   SEARCH   ==================== */

.nav-search-form {
  position: relative;
  @include flex($justify-content: center, $align-items: center);
  width: 100%;
  max-width: 25rem;
  @include margin-auto(x);
  @include media-breakpoint-up(lg) {
    transition: all 0.4s ease-in-out;
  }

  &:focus-within:valid {
    .nav-search-buttons__search svg {
      fill: $color-accent;
    }
  }
}

.nav-search-input {
  width: 100%;
  height: 2.5rem;
  padding: 0.25rem 3.5rem;
  outline: 1px solid $color-primary;
  border-radius: $border-radius-pill;

  &::placeholder {
    color: $color-secondary;
    text-align: center;
    font-size: $fs-base;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    letter-spacing: 1px;
  }

  &:focus-visible::placeholder {
    color: transparent;
  }
}

.nav-search-form:focus-within {
  max-width: 100%;
}

.nav-search-buttons {
  &__search-icon {
    @include box(1rem, 1rem);
    fill: $color-primary;
    @include flex($justify-content: center, $align-items: center);
  }

  &__search {
    @include absolute(left 0 top 0);
    padding: 0 0.75rem;
    height: 100%;
  }

  &__close {
    @include absolute(right 0 top 0);
    font-size: 0.75rem;
    color: $color-light;
    text-transform: uppercase;
    font-weight: bold;
    width: 2.5rem;
    height: 100%;
    background-color: $color-accent-light;
  }

  &__close-icon {
    fill: $color-light;
    @include box(1rem, 1rem);
  }
}

/* ====================   MOBILE SEARCH   ==================== */

@include media-breakpoint-down(lg) {
  .nav-search-form {
  }

  .nav-search-input {
    border-radius: 0;
    outline-color: $color-accent;
    &::placeholder {
      font-size: $fs-sm;
      transition: none;
    }
  }

  .nav-search-buttons {
    &__search-icon {
      fill: $color-light !important;
      @include box(1rem, 1rem);
    }

    &__search {
      background-color: $color-accent-light;
    }
  }

  .nav-search-form {
    max-width: none;
  }

  .mobile-search {
    @include absolute(left 0);
    @include flex($justify-content: center, $align-items: center);
    visibility: hidden;
    background: $color-white;
    @include z-index(nav-search);

    &.active {
      visibility: visible;
    }
  }
}

/* ====================   TOOLS   ==================== */

.tools {
  justify-content: flex-end;
  @include media-xs {
    padding-right: 0;
    padding-left: 0;
  }
}

.nav-tools {
  @include flex($justify-content: center, $align-items: center);

  > * {
    margin-right: 0.75rem;
  }

  :last-child {
    margin-right: 0 !important;
  }

  &__name {
    margin: 0;
    transition: all 0.4s ease-in-out;
    text-decoration: underline 1px solid transparent;
  }
}

@include media-breakpoint-down(lg) {
  .nav-tools__name {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .tools {
    .rounded-icon {
      padding: 0 !important;
      background: none !important;
      box-shadow: none !important;
      margin-right: 1.25rem;
      transition: none !important;
    }

    .icon-rounded {
      transition: all 0.2s ease-in;
      @include box(1rem, 1rem);
      margin-right: 3px !important;
      fill: $color-primary !important;
    }
  }
}
