.accordion {
  @include spacer-bottom('margin', $spacer-lg);

  &__item {
    background-color: darken($color-light, 2%);
    border-radius: $border-radius-sm;
    @include spacer-bottom('margin', $spacer-sm);

    @include flex(
      $flex-direction: column,
      $justify-content: center,
      $align-items: flex-start
    );
  }

  &__button {
    @include flex($justify-content: space-between, $align-items: center);
    width: 100%;
    cursor: pointer;
    padding: 1.25rem 1rem;
    background-color: lighten($color-primary, 13%);
  }

  &__header {
    color: $color-accent;
    text-align: left;
    line-height: $lh-sm;
  }

  &__icon-container {
    margin-left: 1rem;
    margin-bottom: auto;
  }

  &__icon {
    @include box(1rem, 1rem);
    fill: $color-accent;
    transition: transform 600ms ease;
  }

  &__button._active {
    .accordion__icon {
      transform: rotate(180deg);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: 600ms ease max-height;
    margin: 0 1rem;
  }
}

.accordion__button {
  transition: 0.2s ease-in-out;
  @include hover {
    background-color: lighten($color-primary, 11%);
  }

  &:focus-visible {
    transition: none;
    border-radius: $border-radius-sm;
  }
}
