//background-color: lighten($color-primary, 8%);
.accordion {
  @include spacer-bottom('margin', $spacer-lg);

  &__item {
    background-color: lighten($color-primary, 12%);
    border-radius: $border-radius-sm;
    margin-bottom: 0.5rem;

    @include flex(
      $flex-direction: column,
      $justify-content: center,
      $align-items: flex-start
    );
  }

  &__button {
    @include flex($justify-content: space-between, $align-items: center);
    width: 100%;
    cursor: pointer;
    padding: 1.25rem 1rem;
  }

  &__header {
  }

  &__icon {
    @include box(1rem, 1rem);
    transition: transform 300ms ease;
  }

  &__button._active {
    .accordion__icon {
      transform: rotate(180deg);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: 300ms ease max-height;
    margin: 0 1rem;

    :first-child {
      margin-top: 0;
    }
  }
}
