/* ====================   PAGE SECTION   ==================== */

 [data-animate='section'] {
  opacity: 0.15;
  filter: blur(1px);
  transition: all 0.75s ease-in-out;
}

[data-animate='section'].show {
  opacity: 1;
  filter: blur(0);
}
 

/* ====================   ACCORDION ITEM   ==================== */

@include media-breakpoint-up(lg) {
  [data-animate='accordion-item'] {
    translate: -100%;
    transition: all 1s ease-in-out;
    &:nth-child(odd) {
      translate: 100%;
    }
  }

  [data-animate='accordion-item'].show {
    translate: none;
  }
}

/* ====================   BLOG CARD HEADER   ==================== */

[data-animate='blog-header-1'],
[data-animate='blog-header-2'],
[data-animate='blog-header-3'] {
  opacity: 0;
  translate: 15%;
  transition: all 0.75s ease-in-out;
}

[data-animate='blog-header-2'] {
  transition-delay: 0.25s;
}
[data-animate='blog-header-3'] {
  transition-delay: 0.5s;
}

[data-animate='blog-header-1'].show,
[data-animate='blog-header-2'].show,
[data-animate='blog-header-3'].show {
  opacity: 1;
  translate: none;
}
