.backdrop {
  @include fixed(top 0 left 0);
  @include box(100vw, 100vh);
  background-color: #000;
  opacity: 0;
}

.overlay {
  background-color: #000;
  opacity: 0.1;
  @include absolute(top 0 left 0);
  @include box(100%, 100%);
}

.backdrop._active {
  animation: opacity-03 1s forwards;
}

@keyframes opacity-03 {
  100% {
    opacity: 0.3;
  }
}
