.btn {
  padding: 0.5rem 1.875rem;
  background-color: $color-secondary;
  color: $color-light;
  border-radius: $border-radius-sm;
  font-weight: bold;
  min-height: 2.625rem;
  @include margin-top($spacer);
  @include margin-bottom($spacer);
  @include depth();
  transition: 0.2s ease-in-out;

  &:focus-visible {
    background-color: $color-accent;
  }

  @include hover {
    background-color: $color-accent;
  }
}

.btn--light {
  background-color: $color-accent;
  @include focus(
    $offset: 2px,
    $color: $color-light,
    $radius: $border-radius-sm
  );

  &:focus-visible {
    background-color: lighten($color-accent, 10%);
  }

  @include hover {
    background-color: lighten($color-accent, 10%);
  }
}
