@mixin button {
  padding: 0.5rem 1.875rem;
  background-color: $color-secondary;
  color: $color-light;
  border-radius: $border-radius-sm;
  font-weight: bold;
  min-height: 2.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include margin-top($spacer);
  @include margin-bottom($spacer);
  @include depth();
  transition: 0.2s ease-in-out;

  &:focus-visible {
    background-color: $color-accent;
    outline-style: none;
  }

  @include hover {
    background-color: $color-accent;
  }
}

@mixin button-light {
  background-color: $color-accent;

  &:focus-visible {
    background-color: lighten($color-accent, 10%);
    outline-style: solid;
    outline-offset: 2px;
    outline-color: $color-light;
    border-radius: $border-radius-sm;
    transition: none !important;
  }

  @include hover {
    background-color: lighten($color-accent, 10%);
  }
}

.btn {
  @include button();
}

.btn-light {
  @include button-light();
}
