.card {
  @include flex(flex, center, left);
  flex-direction: column;
  &__img {
  }
  &__content {
    margin: $spacer-sm 0;

    > * {
      @include padding($spacer);
    }
  }

  &__header {
  }

  &__text {
    color: $color-gray;
    font-size: $fs-sm;
  }

  &__link {
    font-size: $fs-sm;
    font-weight: bold;
    color: $color-primary-dark;
  }
  &__link:hover {
    color: $color-primary-dark;
  }
}

.link-arrow-right-icon {
  fill: $color-primary-dark;
  @include box(1rem, 1rem);
}
