.card {
  @include flex($justify-content: flex-start, $flex-direction: column);
  border-radius: $border-radius-lg;
  & > * {
    @include margin-top($spacer);
    @include margin-bottom($spacer);
  }

  p {
    margin-top: 0;
  }

  &-img {
    @include image-cover();
    aspect-ratio: 4 / 3;
    border-radius: $border-radius-sm;
  }

  &__text {
    color: $color-gray;
    font-size: $fs-sm;
  }

  &__link {
    font-size: $fs-sm;
    font-weight: bold;
    color: $color-accent;
    margin-top: auto !important;
    @include flex($align-items: center);
  }
}

.link-arrow-right-icon {
  fill: $color-accent;
  margin-left: 0.5rem;
  @include box(0.75rem, 0.75rem);
}
