.card {
  @include flex($flex-direction: column);
  height: 100%;

  @include padding-top($spacer);
  @include padding-bottom($spacer);

  &__img {
    overflow: hidden;
  }

  &-img {
    @include image-cover();
    aspect-ratio: 4 / 3;
    border-radius: $border-radius-sm;
  }

  &__text {
    color: $color-gray;
    margin-top: 0;
  }

  &__link {
    font-size: 0.75rem;
    font-weight: bold;
    color: $color-accent;
    text-transform: uppercase;
    margin-top: auto;
    @include flex($align-items: center);
  }
}

.link-arrow-right-icon {
  fill: $color-accent;
  margin-left: 0.25rem;
  @include box(0.625rem, 10px);
}

/* ====================   LINK AND FOCUS   ==================== */

@media (hover: hover) and (pointer: fine) {
  .card {
    .card-img {
      transition: transform 0.3s ease-in-out;
    }

    @include icon-pulse-grow();
    &:before {
      content: '';
      @include absolute(bottom 0);
      position: absolute;
      width: 0px;
      height: 2px;
      background: $color-accent;
      transition: 0.3s ease-in-out;
    }
    
    &:hover {
      &:before {
        width: 100%;
      }

      .card-img {
        transform: scale(1.1);
      }
    }
  }
}

.card {
  &:focus-visible {
    outline: none;
    .card-img {
      transform: scale(1.1);
    }

    &:before {
      width: 100%;
    }
  }
}
