.dropdown-left {
  left: 0;
}

.dropdown-btn-icon {
  @include flex($justify-content: center, $align-items: center);
  @include box(0.75rem, 0.75rem);
  transition: all 0.2s ease-in-out;
}

[data-dropdown].active {
  color: $color-accent;
  text-decoration: none;

  [data-dropdown-content] {
    color: $color-secondary;
  }

  .dropdown-btn-icon {
    fill: $color-accent;
    transform: rotate(90deg);
  }
}

/* ====================   MEDIA   ==================== */

@include media-breakpoint-down(lg) {
  [data-dropdown-content] {
    max-height: 0;
    overflow: hidden;
    transition: 500ms ease max-height;
  }
}

@include media-breakpoint-up(lg) {
  [data-dropdown-content] {
    position: absolute;
    top: 100%;
    margin-left: -0.75rem;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    border-top: 3px solid $color-primary;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  [data-dropdown].active {
    [data-dropdown-content] {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }

    :first-child {
      transform: translateY(0);
    }
  }

  .dropdown-btn-icon {
    @include box(0.5rem, 0.5rem);
  }
}
