/* ====================   DELETE AFTER   ==================== */
.dropdown-btn-single {
  padding: 0.8rem 0;
  &:focus-visible {
    background: $color-primary;
  }
}

.nav-menu__item.active {
  .dropdown-btn-single {
    color: $color-accent;
  }
}

/* ====================   DELETE AFTER END   ==================== */

.dropdown-left {
  left: 0;
}

.nav-menu-dropdown {
  cursor: auto;
  text-transform: none;
  color: lighten($color-secondary, 15%) !important;

  &__link {
    padding: 0.75rem;
  }
}

.nav-menu__item.active {
  color: $color-accent;
  text-decoration: none;

  .dropdown-btn-icon {
    fill: $color-accent;
    transform: rotate(90deg);
  }

  .nav-menu-dropdown {
    color: $color-secondary;
  }
}

.dropdown-btn {
  padding: 2px;
}

.dropdown-btn {
  &:focus-visible {
    fill: $color-accent;
    outline: none;

    .dropdown-btn-icon {
      transform: scale(2) rotate(90deg);
    }
  }
}

.dropdown-btn-icon {
  @include flex($justify-content: center, $align-items: center);
  @include box(0.75rem, 0.75rem);
  transition: all 0.2s ease-in-out;
}

/* ====================   MOBILE   ==================== */

@include media-breakpoint-down(md) {
  .dropdown-btn {
    padding: 1rem;
  }

  .nav-menu__item.active {
    .nav-menu-dropdown {
      //visibility: visible;
      //opacity: 1;
      &__content {
        //transform: translateY(0);
      }
    }
  }

  .nav-menu-dropdown {
    max-height: 0;
    overflow: hidden;
    transition: 600ms ease max-height;
    //visibility: hidden;
    //opacity: 0;
    //transition: all 0.2s ease-in-out;

    &__content {
      //display: flex;
      //background-color: $color-light;
      //border-top: 3px solid $color-primary;
      //border-bottom-left-radius: $border-radius-sm;
      //border-bottom-right-radius: $border-radius-sm;
      //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      //transform: translateY(-100%);
      //transition: all 0.2s ease-in-out;
    }

    &__column {
      //min-width: 12.5rem;
      &:first-child > .nav-menu-dropdown__list {
        margin-top: 0;
      }
    }

    &__column:not(:last-child) {
      border-bottom: 1px solid $color-accent-light;
    }

    &__list {
    }

    &__link {
      font-weight: normal;
    }
  }
}

/* ====================   DESKTOP   ==================== */

@include media-breakpoint-up(lg) {
  .dropdown-btn-icon {
    @include box(0.5rem, 0.5rem);
  }

  .nav-body {
    position: relative;
  }

  .nav-menu__item.active {
    .nav-menu-dropdown {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
      &__content {
        transform: translateY(0);
      }
    }
  }

  .nav-menu-dropdown {
    position: absolute;
    top: 100%;
    margin-left: -0.75rem;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &__content {
      display: flex;
      background-color: $color-light;
      border-top: 3px solid $color-primary;
      border-bottom-left-radius: $border-radius-sm;
      border-bottom-right-radius: $border-radius-sm;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      transform: translateY(-100%);
      transition: all 0.2s ease-in-out;
    }

    &__column {
      min-width: 12.5rem;
    }

    &__column:not(:last-child) {
      border-right: 1px solid lighten($color-primary, 8%);
    }

    &__list {
      margin: 0;
    }

    &__link {
      @include flex($align-items: center);
      transition: background-color 0.1s ease-in-out;

      @include hover {
        background-color: lighten($color-primary, 10%);
        color: $color-accent;
      }

      &:focus-visible {
        outline: none;
        border-radius: 0;
        color: $color-accent;
        background-color: lighten($color-primary, 10%);
        text-decoration: underline 3px solid $color-accent;
      }
    }
  }
}
