/* ====================   HEADER   ==================== */
.notification__link {
  @include link-space();
  @include focus($color-light);
  @include hover {
    color: $color-primary;
  }
}

.logo-header {
  @include focus($radius: $border-radius-pill, $offset: 4px);
  @include link-space();
}

.nav-search-buttons__search {
  @include focus($offset: 0);
  &:hover {
    svg {
      transition: 0.2s ease-in-out;
      fill: $color-accent;
    }
  }
}

.nav-tools__link {
  @include link-space();
  @include media-breakpoint-down(lg) {
    @include focus($offset: 0, $radius: $border-radius-pill);
    @include hover {
      background-color: $color-secondary;
      svg {
        fill: $color-white;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    @include focus();
    @include hover {
      svg {
        transition: 0.2s ease-in-out;
        fill: $color-accent;
      }
    }
  }
}

.nav-toggler {
  @include focus($offset: -0.3125rem, $radius: $border-radius-lg);
}

.nav-search-input {
  @include focus($offset: -2px, $radius: $border-radius-pill, $size: 2px, $color: $color-accent);
  &:hover {
    outline-color: $color-accent;
    &::placeholder {
      color: $color-gray;
    }
  }
}
/* ====================   MAIN   ==================== */

/* ====================   FOOTER   ==================== */

.logo-footer {
  @include focus($offset: 4px, $radius: $border-radius-pill);
}

.footer-nav__link {
  @include link-space();
  @include hover {
    transition: 0.2s ease-in-out;
    color: $color-primary;
  }
}

.social-icons__link {
  @include link-space();
  @include focus($radius: $border-radius-pill, $offset: 0);
  &:focus-visible,
  &:hover {
    transition: 0.3s ease-in-out;
    background: $color-accent;
    .icon-social {
      fill: $color-light;
    }
  }
}

.nav-menu__link {
  @include link-space();
  @include hover {
    color: $color-accent;
    transition: 0.2s ease-in-out;
  }
}

.footer * :focus-visible {
  outline-color: $color-light;
}
