/* ====================   HEADER   ==================== */
.notification__link {
  @include link-space();
  @include focus($color-light);
  @include hover {
    color: $color-primary;
  }
}

.logo-header {
  @include link-space();
  @include media-breakpoint-down(sm) {
    @include focus($color: $color-accent);
  }
}

.nav-search-buttons__search {
  @include focus($style: none);
  &:focus-visible,
  &:hover {
    svg {
      transition: 0.2s ease-in-out;
      fill: $color-accent;
    }
  }
}

.nav-search-input {
  @include focus($offset: 0, $size: 1px, $color: $color-secondary);
 
}

.nav-tools__link {
  @include link-space();
  @include media-breakpoint-down(lg) {
    @include focus($color: $color-primary, $offset: 0, $size: 4px);
    &:focus-visible,
    &:hover {
      transition: 0.5s ease-in-out;
      background-color: $color-secondary;
      svg {
        fill: $color-white;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    @include hover {
      svg {
        transition: 0.2s ease-in-out;
        fill: $color-accent;
      }
    }
  }
}

.nav-toggler {
  @include focus($offset: -5px, $radius: 2px);
}

.nav-menu__link {
  @include link-space();
  @include hover {
    color: $color-accent;
    transition: 0.2s ease-in-out;
  }
}

/* ====================   MAIN   ==================== */

.card__link {
  @include link-space();
  @include icon-wobble-horizontal();
  @include focus($color: $color-accent);
  @include hover {
    color: $color-accent;
  }
}

/* ====================   FOOTER   ==================== */
.mailing-form__input {
  @include focus($offset: 2px);
}

.footer-nav__link {
  @include link-space();
  @include hover {
    transition: 0.2s ease-in-out;
    color: $color-primary;
  }
}

.social-icons__link {
  @include link-space();
  @include focus($offset: 0);
  &:focus-visible,
  &:hover {
    transition: 0.3s ease-in-out;
    background: $color-accent;
    .icon-social {
      fill: $color-light;
    }
  }
}

.footer * {
  @include focus($color-light);
}
