.nav-menu__link:hover {
  color: $color-accent;
  transition: 0.2s ease-in-out;
}

.nav-tools__link {
  @include media-breakpoint-down(lg) {
    &:focus,
    &:hover {
      background-color: $color-accent;
      outline: none;
      svg {
        fill: $color-white;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &:focus,
    &:hover {
      > * {
        transition: 0.2s ease-in-out;
        color: $color-accent;
        fill: $color-accent;
      }
    }
  }
}

.nav-search-input {
  &:focus,
  &:hover,
  &:active {
    border: 1px solid transparent;
    outline: 1px solid $color-secondary;
    &::placeholder {
      color: $color-gray;
    }
  }
}

.nav-search-buttons__search {
  &:focus,
  &:hover {
    svg {
      transition: 0.2s ease-in-out;
      fill: $color-accent;
    }
  }
}

.footer-nav__link:hover {
  transition: 0.2s ease-in-out;
  color: $color-primary;
}

.social-icons__link {
  &:focus,
  &:hover {
    transition: 0.3s ease-in-out;
    outline: none;
    background: $color-accent;
    .icon-social {
      fill: $color-light;
    }
  }
}
