.logo-header {
  @include focus($radius: $border-radius-pill, $offset: 4px);
}

.notification__link {
  @include focus($color-light);
  &:hover {
    color: $color-primary;
  }
}

.nav-tools__link {
  @include media-breakpoint-down(lg) {
    @include focus($offset: 0, $radius: $border-radius-pill);
    &:hover {
      background-color: $color-secondary;
      svg {
        fill: $color-white;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    @include focus();
    &:hover {
      svg {
        transition: 0.2s ease-in-out;
        fill: $color-accent;
      }
    }
  }
}

.nav-toggler {
  @include focus($offset: -5px, $radius: $border-radius-lg);
}

.nav-search-input {
  &:focus,
  &:hover,
  &:active {
    border: 1px solid transparent;
    outline: 1px solid $color-secondary;
    &::placeholder {
      color: $color-gray;
    }
  }
}

.nav-search-buttons__search {
  &:focus,
  &:hover {
    svg {
      transition: 0.2s ease-in-out;
      fill: $color-accent;
    }
  }
}

.footer * {
  @include focus($color: $color-light);
}

.footer-nav__link:hover {
  transition: 0.2s ease-in-out;
  color: $color-primary;
}

.social-icons__link {
  &:focus,
  &:hover {
    transition: 0.3s ease-in-out;
    outline: none;
    background: $color-accent;
    .icon-social {
      fill: $color-light;
    }
  }
}

.nav-menu__link:hover {
  color: $color-accent;
  transition: 0.2s ease-in-out;
}
