@include media-breakpoint-up(lg) {
  .nav-menu__link,
  .nav-tools__link {
    &:hover {
      transition: 0.4s;
      color: $color-primary-dark;

      svg {
        fill: $color-primary-dark;
        transition: 0.4s;
      }
    }
  }
}
