.search {
  position: relative;
  @include flex-properties(flex, center, center);
  @include box(100%, 2.625rem);
  transition: $transition;

  &__btn {
    @include absolute(left 0);
    @include flex-properties(flex, center, center);
    padding: 0 1rem;
    height: 100%;

    &:hover {
      transform: scale(1.75);
      transition: $transition;
    }
  }

  &__body {
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 0.625rem 1rem 0.625rem 3rem;
    outline: 0;

    &:hover {
      border: 1px solid darken($border-color, 20%);
      background: darken($color-background, 2%);
    }

    &:focus {
      border: 1px solid $border-color-accent;
      background: darken($color-background, 2%);
      &::placeholder {
        color: transparent;
      }
    }

    &::placeholder {
      color: $color-secondary;
    }
  }
}
