.social-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    margin: 0 0.25rem 0.25rem 0;
  }
  &__link {
    padding: 0.7rem;
    @include flex(flex, center, center);
    background: $color-secondary;
    border-radius: 100%;
  }
}

.icon-social {
  @include box(1rem, 1rem);
  fill: $color-primary;
}
