.social-icons {
  display: flex;
  align-items: center;
  @include margin-top($spacer);
  @include margin-bottom($spacer);
  flex-wrap: wrap;
  &__item {
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    @include media-breakpoint-up(sm) {
      margin-right: 0.25rem;
      margin-bottom: 0;
    }
  }

  &__link {
    padding: 0.7rem;
    @include flex(flex, center, center);
    background: $color-secondary;
    border-radius: 100%;
  }
}

.icon-social {
  @include box(1rem, 1rem);
  fill: $color-primary;
}
