/* ====================   HEADER   ==================== */

.notification__link {
  @include link-space();
  @include hover {
    text-decoration: underline solid $color-primary 1px;
  }

  &:focus-visible {
    outline: none;
    text-decoration: underline solid $color-primary 2px;
  }
}

.logo-header {
  @include link-space();
  &:focus-visible {
    background-color: $color-primary;
    outline-style: none;
  }

  @include media-breakpoint-down(sm) {
    &:focus-visible {
      outline-style: solid;
      outline-width: 3px;
    }
  }
}

.nav-search-input:focus-visible {
  outline-offset: 0;
  outline-width: 1px;
  outline-color: $color-secondary;
}

.nav-search-buttons__search {
  &:focus-visible {
    outline-style: none;
    svg {
      fill: $color-accent;
    }
  }

  @include hover {
    svg {
      transition: 0.2s ease-in-out;
      fill: $color-accent;
    }
  }
}

.tools {
  @include media-breakpoint-up(lg) {
    a,
    button {
      &:focus-visible {
        svg {
          fill: $color-accent !important;
        }
        @include underline($bottom: 1rem, $color: $color-accent, $size: 3px);
      }

      @include hover {
        svg {
          fill: $color-accent !important;
        }

        @include underline($bottom: 1rem, $color: $color-accent);
      }
    }
  }
}

.nav-toggler:focus-visible {
  border-radius: inherit;
}

.nav-menu__link {
  &:focus-visible {
    outline-style: none;
    color: $color-accent;
    text-decoration: underline 3px;
  }

  @include hover {
    color: $color-accent;
    text-decoration: underline;
  }
}

/* ====================   MAIN   ==================== */

.text-link {
  &:focus-visible {
    outline: none;
    text-decoration: underline 3px;
  }
  @include hover {
    text-decoration: underline;
  }
}

.section-header-link {
  @include forward();
  &:focus-visible {
    outline-offset: 0.5rem;
    outline-width: 3px;
  }
}

// about-us
.tab-nav-list__link {
  @include icon-pulse-shrink(0.35s);
  &:focus-visible {
    outline: 0;
  }
}

// shop
.swiper-btn--left-shop,
.swiper-btn--right-shop {
  transition: 0.4s ease-in-out;
  svg {
    transition: 0.4s ease-in-out;
  }
  @include hover {
    background: $color-accent;
    svg {
      fill: $color-light;
    }
  }

  &:focus-visible {
    background: $color-accent;
    svg {
      fill: $color-light;
    }
    outline: none;
    border-radius: 0;
  }
}

//testimonials
@media (hover: hover) and (pointer: fine) {
  .swiper-btn--left-testimonials,
  .swiper-btn--right-testimonials {
    &:hover svg {
      fill: $color-accent;
    }
  }
}

.swiper-btn--left-testimonials,
.swiper-btn--right-testimonials {
  @include icon-grow(1.25);
  &:focus-visible {
    outline: none;
    svg {
      fill: $color-light;
    }
    fill: $color-accent;
    background-color: $color-accent;
  }
}

/* ====================   FOOTER   ==================== */

.footer-phone__link {
  @include hover {
    text-decoration: underline 1px solid $color-light;
  }
  &:focus-visible {
    outline-offset: -6px;
    outline-color: $color-primary;
  }
}

.mailing-form__input:focus-visible {
  outline-offset: 0;
  outline-color: $color-light;
}

.logo-footer:focus-visible {
  background-color: $color-primary;
  outline-style: none;
}

.footer-nav__link {
  @include hover {
    color: $color-primary;
    text-decoration: underline;
  }

  &:focus-visible {
    color: $color-primary;
    outline: none;
    text-decoration: underline;
  }
}
