.headroom {
  transition: transform 0.3s ease-in-out;
}



.headroom.slide-up {
  transform: translateY(-100%);
}

.headroom.slide-down,
.headroom.bottom {
  transform: translateY(0);
}


/* 
initial: .headroom
pinned: .headroom--slide-down
unpinned: .headroom--slide-up
top: .headroom--top
notTop: .headroom--not-top
bottom : .headroom--bottom
notBottom : .headroom--not-bottom
*/
