.headroom {
  //will-change: transform; // for super good optimization, check mdm first
  transition: transform 200ms linear;
}

.headroom-slideDown {
  transform: translateY(0%);
}

.headroom-slideUp {
  transform: translateY(-100%);
}

.headroom-bottom {
  transform: translateY(0%);
}


/* 
initial: .headroom
pinned: .headroom-slideDown
unpinned: .headroom-slideUp
top: .headroom-top
notTop: .headroom-not-top
bottom : .headroom-bottom
notBottom : .headroom-not-bottom
*/
