@import 'swiper/swiper.scss';
@import 'swiper/modules/pagination/pagination.scss';
@import 'swiper/modules/navigation/navigation.scss';

.swiper {
  @include box(100%, 100%);
}

.swiper-slide {
}

.swiper-pagination {
  @include flex($justify-content: center, $align-items: center);
  user-select: none;
  z-index: -1;
}

.swiper-pagination-bullet {
  @include box(6px, 6px);
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
  margin: 0.3rem !important;
}

.swiper-pagination-bullet-active {
  @include box(12px, 12px);
  opacity: 1;
  background: $color-primary;
}

.swiper-btn {
  @include box(5rem, 5rem);
  fill: $color-gray;
  z-index: 9999;
  @include icon-grow();
  @include flex($justify-content: center, $align-items: center);
  @include center(vertical);
  @include media-breakpoint-down(xl) {
    display: none;
  }

  svg {
    @include box(1.5rem, 1.5rem);
  }

  @include focus($style: none, $bg: $color-primary);
  &:focus-visible,
  &:hover {
    fill: $color-accent;
  }
}

@include media-breakpoint-up(lg) {
  .swiper-btn--left {
    left: 20%;
    top: 25%;
  }

  .swiper-btn--right {
    right: 20%;
    top: 25%;
  }
}
