@import 'swiper/swiper.scss';

/* ====================   GLOBAL STYLES   ==================== */

.swiper {
  @include box(100%, 100%);
}

.swiper-slide {
  height: auto;
}

// pagination

.swiper-pagination {
  @include flex($justify-content: center, $align-items: center);

  > * {
    @include flex($justify-content: center, $align-items: center);
    @include box(1.5rem, 1.5rem);
  }
}

.swiper-pagination-bullet {
  cursor: pointer;

  &:before {
    content: '';
    background: lighten($color-secondary, 70%);
    border-radius: 50%;
    @include box(0.5rem, 0.5rem);
  }
}

.swiper-pagination-bullet-active {
  &:before {
    content: '';
    background: $color-primary;
    border-radius: 50%;
    @include box(0.75rem, 0.75rem);
  }
}

// navigation buttons

.swiper-btn {
  z-index: 15;
  @include box(4rem, 4rem);
 @include media-breakpoint-down(md) {
  @include box(3rem, 3rem);
 }
}

/* ====================   SHOP   ==================== */

.arrow-icon-shop {
  @include box(1rem, 1rem);
  fill: $color-secondary;
}

.swiper-shop-nav {
  @include flex($justify-content: space-between, $align-items: center);
  @include margin-top($spacer-xl);
}

.swiper-btn--left-shop,
.swiper-btn--right-shop {
  @include flex($justify-content: center, $align-items: center);
  background: $color-primary;
}

/* ====================   TESTIMONIALS   ==================== */

.arrow-icon-testimonials {
  @include box(1.5rem, 1.5rem);
  fill: $color-gray;
}

.swiper-testimonials .swiper-pagination {
  @include margin-top($spacer-xl);
}

.swiper-btn--left-testimonials,
.swiper-btn--right-testimonials {
  display: none;
  border-radius: 50%;
}

@include media-breakpoint-up(md) {
  .swiper-btn--left-testimonials,
  .swiper-btn--right-testimonials {
    @include flex($justify-content: center, $align-items: center);
    position: absolute;
  }

  .swiper-btn--left-testimonials {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .swiper-btn--right-testimonials {
    @include flex($justify-content: center, $align-items: center);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

@include media-breakpoint-up(lg) {
  .swiper-btn--left-testimonials {
    left: 20%;
    transform: translate(-20%, -50%);
  }

  .swiper-btn--right-testimonials {
    right: 20%;
    transform: translate(20%, -50%);
  }
}
