@import 'swiper/swiper.scss';
@import 'swiper/modules/pagination/pagination.scss';
@import 'swiper/modules/navigation/navigation.scss';

.swiper {
  @include box(100%, 100%);
}

.swiper-slide {
}

.swiper-pagination {
  @include flex(flex, center, center);
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  @include box(6px, 6px);
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
  margin: 0.3rem !important;
}

.swiper-pagination-bullet-active {
  @include box(12px, 12px);
  opacity: 1;
  background: $color-primary;
}

.swiper-btn {
  @include box(5rem, 5rem);
  z-index: 15;
  @include icon-grow();
  @include flex(flex, center, center);
  @include center(vertical);

  svg {
    @include box(1.5rem, 1.5rem);
  }

  @include media-breakpoint-down(xl) {
    display: none;
  }

  fill: $color-gray;

  @media (hover: hover) {
    &:hover {
      fill: $color-primary-dark;
    }
  }

  @include media-breakpoint-up(lg) {
    &--left {
      left: 20%;
      top: 25%;
    }

    &--right {
      right: 20%;
      top: 25%;
    }
  }
}
