<div class="card">
  <img class="card__img" src="@img/card-1.jpg" alt="Blog photo" />
  <div class="card__content">
    <h5 class="card__header">Lorem ipsum dolor sit amet.</h5>
    <div class="card__text">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est,
        distinctio rem. Labore voluptas possimus sed.
      </p>
    </div>

    <h6>
      <a class="card__link" href="#"
        >Read more
        <svg class="link-arrow-right-icon hvr-icon">
          <use href="images/icons/sprite-mono.svg#link-arrow-right"></use>
        </svg>
      </a>
    </h6>
  </div>
</div>
