<ul class="nav-menu nav-menu--main">
  <li class="nav-menu__item">
    <a href="#" class="nav-menu__link">Shop</a>
  </li>
  <li class="nav-menu__item">
    <a href="#" class="nav-menu__link">Skin Intelligence</a>
  </li>
  <li class="nav-menu__item">
    <a href="#" class="nav-menu__link">Skin Care Packages</a>
  </li>
  <li class="nav-menu__item">
    <a href="#" class="nav-menu__link">Brands</a>
  </li>
</ul>
<hr class="d-lg-none my-lg" />
<ul class="nav-menu nav-menu--secondary">
  <li data-dropdown class="nav-menu__item">
    <a href="about.html" class="nav-menu__link">About</a>
    <button
      data-dropdown-btn
      class="dropdown-btn"
      aria-haspopup="true"
      aria-expanded="false"
      aria-label="Dropdown menu for About"
    >
      <svg class="dropdown-btn-icon hvr-icon">
        <use href="images/icons/sprite-mono.svg#arrow-down"></use>
      </svg>
    </button>
    <div aria-label="submenu" class="nav-menu-dropdown" hidden>
      <div class="nav-menu-dropdown__content">
        <div class="nav-menu-dropdown__column">
          <ul class="nav-menu-dropdown__list">
            <li>
              <a
                href="about-why-skin-clinica.html"
                class="nav-menu-dropdown__link"
                >Why Skin Clinica</a
              >
            </li>
            <li>
              <a
                href="about-company-founder.html"
                class="nav-menu-dropdown__link"
                >About Our Founder</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="nav-menu__item">
    <a href="faq.html" class="nav-menu__link">Faq</a>
  </li>
  <li class="nav-menu__item">
    <a href="blog.html" class="nav-menu__link">Blog</a>
  </li>
  <li class="nav-menu__item">
    <a href="contact.html" class="nav-menu__link">Contact</a>
  </li>
</ul>
<hr class="d-lg-none my-lg" />
