<ul class="social-icons">
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <svg class="icon-social hvr-icon">
        <use href="images/icons/sprite-mono.svg#socials--facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <svg class="icon-social hvr-icon">
        <use href="images/icons/sprite-mono.svg#socials--instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <svg class="icon-social hvr-icon">
        <use href="images/icons/sprite-mono.svg#socials--linkedin"></use>
      </svg>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <svg class="icon-social hvr-icon">
        <use href="images/icons/sprite-mono.svg#socials--twitter"></use>
      </svg>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <svg class="icon-social hvr-icon">
        <use href="images/icons/sprite-mono.svg#socials--pinterest"></use>
      </svg>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <svg class="icon-social hvr-icon">
        <use href="images/icons/sprite-mono.svg#socials--gmail"></use>
      </svg>
    </a>
  </li>
</ul>
