.section-header {
  align-self: flex-start;
}

.section-header-link {
  &__accent {
    color: $color-accent-light;
  }
}

main > *:not(:first-child) {
  @include padding-top($spacer-xl);
  @include padding-bottom($spacer-xl);
}

// mobile 100vw sections extra padding
@include media-breakpoint-down(md) {
  .about-us-text-content {
    @include padding-bottom($spacer-xl);
  }
}

/* ====================   BANNER   ==================== */
.banner {
  @include padding-bottom($spacer-xl);
}

.banner-bg {
  @include image-cover(auto);
  max-height: 40vh;
  @include media-breakpoint-up(md) {
    max-height: 75vh;
  }
}

/* ====================   ABOUT-US   ==================== */
//lighten($color-primary, 7%) - background
//lighten($color-accent, 3%) - header text
.about-us {
  .row {
    @include flex($justify-content: space-between, $align-items: center);
  }
}

.about-us h1 span {
  color: $color-accent-light;
}

.about-us-text-content p {
  color: $color-gray;
}

.logo-regular-icon {
  fill: $color-accent-light;
  @include rfs(5rem, height);
  @include rfs(5rem, width);
}

[data-tab-content] {
  display: none;
  @include media-breakpoint-up(sm) {
    &:before {
      content: '';
      @include absolute(top 0);
      @include box(100%, 100%);
      background-image: linear-gradient(
        90deg,
        rgb(0, 0, 0, 1) 0%,
        rgb(0, 0, 0, 0.5) 25%,
        rgb(0, 0, 0, 0) 100%
      );
    }
  }
}

._active[data-tab-content] {
  display: block;
}

.tabs {
  position: relative;
  .row {
    background: linear-gradient(to right, $color-accent-light, $color-light);
  }
}

.about-us-tabs-title {
  @include flex($justify-content: center, $align-items: center);
  font-size: 1.25rem;
  margin: 0;
  color: $color-light;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.tab-arrow-right-icon {
  display: none;
  margin-right: 0.375rem;
  @include box(1rem, 1rem);
  fill: $color-secondary;
}

.tab-nav {
  margin-top: $spacer-lg;
}

.tab-nav-list__item {
  color: $color-secondary;
}

.tab-nav-list__link {
  padding: 0.75rem 0;
  font-size: 1.25rem;
  @include flex($align-items: center);
}

.tab-cards {
  background-color: black;
  padding: 0;
  margin: 15% 0;
}

.tab-img {
  @include image-cover();
  @include depth();
  aspect-ratio: 1 / 1;
}

@include media-breakpoint-up(sm) {
  .tab-nav {
    @include center(vertical);
    left: 17.5%;
    margin: 0;
  }

  .tab-nav-list__item {
    color: darken($color-light, 25%);
  }

  .tab-nav-list__item._active {
    color: $color-light;
    .tab-arrow-right-icon {
      display: inline-block;
    }
  }

  .tab-nav-list__link {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0;
  }

  .tab-cards {
    transform: translate(20%);
  }

  .tab-arrow-right-icon {
    @include box(1.25rem, 1.25rem);
    fill: $color-light;
  }
}

@include media-breakpoint-up(lg) {
  .tab-arrow-right-icon {
    margin-right: 0.75rem;
    @include box(1.75rem, 1.75rem);
  }
}

/* ====================   BLOG   ==================== */

.blog {
  @include flex($justify-content: center, $align-items: center);
  flex-direction: column;
}

/* ====================   TESTIMONIALS   ==================== */

.testimonials-bg {
  @include absolute(top 0 left 0);
  @include image-cover();
}

.testimonials {
  position: relative;
  @include flex($justify-content: center, $align-items: center);
  flex-direction: column;
  text-align: center;
  user-select: none;

  &__content {
    max-width: 31.25rem;
    @include center-block();
  }

  &__header {
    z-index: 1;
    margin-bottom: 0;
  }

  &__body {
    position: relative;
    font-style: italic;
    font-size: $fs-lg;
    color: $color-gray;
  }

  &__person {
    @include flex(
      $justify-content: center,
      $align-items: center,
      $flex-direction: column
    );
  }
}

.person-photo-thumbnail {
  @include box(5rem, 5rem);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  @include depth(1);
}

.person-name {
  @include margin-bottom($spacer-xl);
  color: $color-accent;
  text-transform: uppercase;
  font-size: $fs-sm;
  letter-spacing: 1px;
}
