.section-header {
  align-self: flex-start;
}

main > *:not(:first-child) {
  @include padding-top($spacer-xl);
  @include padding-bottom($spacer-xl);
}

/* ====================   ABOUT-US   ==================== */

.about-us {
  &__item {
    background: rgb(209, 209, 209);
  }
  .row {
    height: 40rem;
  }
}

.about-us p {
  color: $color-gray;
}

.about-us-text-content {
  width: 100%;
  @include media-breakpoint-up(md) {
    max-width: 75%;
  }
}

.about-us-tabs {
  height: 100%;
  background-color: $color-primary-light;
}

.logo-regular-icon {
  fill: $color-primary;
  @include rfs(5rem, height);
  @include rfs(5rem, width);
}

/* ====================   BANNER   ==================== */

.banner-bg {
  @include image-cover(auto);
  max-height: 40vh;
  @include media-breakpoint-up(md) {
    max-height: 75vh;
  }
}

/* ====================   BLOG   ==================== */

.blog {
  @include flex(flex, center, center);
  flex-direction: column;
}

/* ====================   TESTIMONIALS   ==================== */

.testimonials-bg {
  @include absolute(top 0 left 0);
  @include image-cover(100%);
}

.testimonials {
  position: relative;
  @include flex(flex, center, center);
  flex-direction: column;
  text-align: center;
  user-select: none;

  &__content {
    max-width: 31.25rem;
    @include center-block();
  }

  &__header {
    z-index: 1;
    margin-bottom: 0;
  }

  &__body {
    position: relative;
    font-style: italic;
    font-size: $fs-lg;
    color: $color-gray;
  }

  &__person {
    @include flex(flex, center, center);
    flex-direction: column;
  }
}

.person-photo-thumbnail {
  @include box(5rem, 5rem);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: $shadow;
}

.person-name {
  @include margin-bottom($spacer-xl);
  color: $color-primary-dark;
  text-transform: uppercase;
  font-size: $fs-sm;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
