.section {
  @include padding-top($spacer-xl);
  @include padding-bottom($spacer-xl);
}

.section-header {
  margin: 0;
}

.section-btn {
  @include flex($justify-content: center, $align-items: center);
}

.section-header-link {
  &__accent {
    color: $color-accent-light;
  }
}

/* ====================   BANNER   ==================== */

.banner-bg {
  @include image-cover(auto);
  height: 50vh;
  @include media-breakpoint-up(md) {
    height: 80vh;
  }
}

/* ====================   ABOUT-US   ==================== */

.about-us-text-content,
.about-us-tabs {
  @include padding-bottom($spacer-xl);
  @include padding-top($spacer-xl);
}

.about-us {
  user-select: none;
  .row {
    justify-content: space-between;
    align-items: center;
  }
}

.about-us h1 span {
  color: $color-accent-light;
}

.about-us-text-content {
  user-select: text;
}

.about-us-text-content p {
  color: $color-gray;
}

.logo-regular-icon {
  fill: $color-accent-light;
  @include rfs(5rem, height);
  @include rfs(5rem, width);
}

[data-tab-content] {
  @include absolute(top 0 left 0);
  @include box(100%, 100%);
  visibility: hidden;
  opacity: 0;
}

._static[data-tab-content] {
  position: static;
  visibility: visible;
  opacity: 1;
}

._active[data-tab-content] {
  visibility: visible;
  z-index: 10;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.tab-cards-wrapper {
  padding: 0;
  margin: 17% 0;
}

.tab-cards {
  position: relative;
  @include depth();
}

.tabs {
  position: relative;
  .row {
    background: linear-gradient(to right, $color-accent-light, $color-light);
    border-radius: $border-radius-sm;
  }
}

.about-us-tabs-title {
  @include flex($justify-content: center, $align-items: center);
  font-size: 1.25rem;
  margin: 0;
  color: $color-light;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.tab-arrow-right-icon {
  display: none;
  margin-right: 0.375rem;
  @include box(1.25rem, 1.25rem);
}

.tab-nav-list__item._active {
  color: $color-accent;
  font-weight: bold;
  .tab-arrow-right-icon {
    fill: $color-accent;
    display: inline-block;
  }
}

.tab-nav {
  @include padding-top($spacer);
  @include padding-bottom($spacer);
}

.tab-nav-list {
  margin: 0;
  color: $color-secondary;
}

.tab-nav-list__link {
  padding: 0.75rem 0;
  font-size: 1.25rem;
  @include flex($align-items: center);
}

.tab-card {
  border-radius: $border-radius-pill;
}

.tab-img {
  @include image-cover();
  aspect-ratio: 1 / 1;

  border-radius: $border-radius-sm;
}

.tab-btn {
  @include margin-top($spacer);
}

@include media-breakpoint-down(sm) {
  .tab-nav {
    margin-left: -0.75rem;
  }
}

@include media-breakpoint-up(sm) {
  .tab-btn {
    @include button-light();
  }

  .tab-cards:before {
    content: '';
    @include absolute(top 0);
    @include box(100%, 100%);
    z-index: 25;
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.5) 25%,
      rgb(0, 0, 0, 0.3) 50%,
      rgb(0, 0, 0, 0) 100%
    );
  }

  .tab-cards-wrapper {
    transform: translate(20%);
  }

  .tab-nav {
    @include center(vertical);
    left: 17%;
    z-index: 10;
    margin: 0;
    @include padding-left($spacer);
    border-radius: $border-radius-sm;
    background-image: linear-gradient(
      90deg,
      hsla(0deg, 0%, 12%, 1) 0%,
      hsla(137deg, 0%, 12%, 1) 50%,
      hsla(137deg, 0%, 12%, 0.8) 56%,
      hsla(137deg, 0%, 12%, 0.6) 62%,
      hsla(137deg, 0%, 12%, 0.35) 68%,
      transparent 76%
    );
  }

  .tab-nav-list__item {
    color: darken($color-light, 30%);
  }

  .tab-nav-list__item._active {
    color: $color-light;
    .tab-arrow-right-icon {
      display: inline-block;
      fill: $color-light;
    }
  }

  .tab-nav-list__link {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0;
  }

  .tab-arrow-right-icon {
    @include box(1.25rem, 1.25rem);
    fill: $color-light;
  }
}

@include media-breakpoint-up(lg) {
  .tab-arrow-right-icon {
    margin-right: 0.75rem;
    @include box(1.75rem, 1.75rem);
  }
}

/* ====================   SHOP   ==================== */

.swiper-shop {
  overflow-x: hidden;
  @include margin-top($spacer-xl);
  @include margin-bottom($spacer-xl);
}

.shopping-card {
  @include flex($flex-direction: column);
  height: 100%;
  border-radius: $border-radius-sm;
  border: 1px solid lighten($color-secondary, 75%);
  padding: $spacer-sm;
  @include media-breakpoint-up(lg) {
    padding: $spacer;
  }

  &__header {
    font-size: 0.75rem;
    @include media-breakpoint-up(lg) {
      font-size: $fs-base;
    }

    text-transform: uppercase;
    margin: $spacer-sm 0;
    margin: auto 0;
  }

  &__price {
    margin: $spacer-sm 0;
    color: $color-secondary;
    font-size: $fs-sm;
    @include media-breakpoint-up(lg) {
      font-size: $fs-lg;
    }
  }
}

.price-new {
  color: $color-accent;
  font-weight: bold;
}

.price-old {
  text-decoration: line-through;
  color: lighten($color-secondary, 34%);
}

.shopping-card-img {
  @include flex($justify-content: center, $align-items: center);
  @include image-cover();
  aspect-ratio: 1 / 1;
}

.shopping-card__ratings {
  @include flex($align-items: center);
  margin-bottom: $spacer-sm;
}

.star-icon {
  @include box(1rem, 1rem);
  fill: $color-gray;
}

.star-icon-empty {
  fill: lighten($color-gray, 40%);
}

/* ====================   BLOG   ==================== */

.section .row .col-md {
  @include margin-top($spacer-xl);
  @include margin-bottom($spacer-xl);
}

/* ====================   TESTIMONIALS   ==================== */

.testimonials-bg {
  @include absolute(top 0 left 0);
  @include image-cover();
}

.testimonials {
  position: relative;
  @include flex($justify-content: center, $align-items: center);
  flex-direction: column;
  text-align: center;
  user-select: none;

  &__header {
    z-index: 1;
    @include margin-bottom($spacer);
  }

  &__body {
    font-style: italic;
    font-size: $fs-lg;
    color: $color-gray;
    margin-bottom: auto;
  }

  &__person {
    @include flex(
      $justify-content: center,
      $align-items: center,
      $flex-direction: column
    );
  }
}

.testimonials-content {
  max-width: 30rem;
  height: 100%;
  @include flex(
    $justify-content: center,
    $align-items: center,
    $flex-direction: column
  );
  @include margin-auto(x);
}

.person-photo-thumbnail {
  @include image-cover($height: 5rem, $width: 5rem);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  @include depth();
}

.person-name {
  margin-bottom: 0;
  color: $color-accent;
  text-transform: uppercase;
  font-size: $fs-sm;
  letter-spacing: 1px;
  line-height: $lh-sm;
}
