.header {
  background-color: rgb(255, 255, 255); // delete at the end
  position: sticky;
  z-index: $zLayoutHeader;
  top: 0;
  
}

.header-item {
  @include padding-bottom($spacer-sm);
  @include padding-top($spacer-sm);
}

.header-toggler {
  @include flex-properties(flex, left, center);
}

.header-logo {
  @include flex-properties(flex, left, center);
  a {
    @include flex-properties(flex, center, center);
  }
}

.header-search {
  @include flex-properties(flex, center, center);
}

.tools {
  @include flex-properties(flex, right, center);
  
  &__item {
    white-space: nowrap;
    padding: 0.5rem;

    p {
      display: none;
      color: $color-secondary;
    }

    @include media-breakpoint-up(sm) {
      p {
        display: block;
      }
    }
  }

  &__account {
    @include flex-properties(flex, center, center);
  }

  &__wishlist {
    @include flex-properties(flex, center, center);
  }

  &__cart {
    @include flex-properties(flex, center, center);
    padding-right: 0;
  }
}

