.icon-mono {
  height: 80px;
  width: 80px;
  fill: $color-primary;
  &__search {
    stroke: $color-primary;
    stroke-width: 0.5px;
    width: 1rem;
    height: 1rem;
  }
}

.icon-multi {
  height: 80px;
  width: 80px;

  &__logo-header {
    height: 80px;
    width: 220px;
  }
}
