.icon {
  &--mono {
    
  }

  &--multi {
  }

  &-logo-header {
    height: 80px;
    width: 220px;
  }

  &-logo {
    height: 80px;
    width: 80px;
  }

  &-search {
    width: 1rem;
    height: 1rem;
    
  }
}

.icon-tools {
  fill: $color-primary;
  width: 1.25rem;
  height: 1.25rem;
}