/* ====================   COLORS   ==================== */
//TODO сделать снипеты для картинок
// TODO поменять цвета поиска
// TODO пофиксить хедер и иконку бургера
// TODO сделать разный бургер на мобиле и планшете
//TODO пофиксить задачи в галп
$color-pink: hsl(336, 95%, 84%);
$color-black: hsl(0, 0%, 0%);
$color-black-100: hsl(0, 0%, 12%);
$color-gray: hsl(0, 0%, 45%);
$color-white: hsl(0, 0%, 100%);
$color-white-100: darken($color-white, 5%);
$color-white-200: darken($color-white, 10%);
$color-white-300: darken($color-white, 15%);
$color-white-muted: fade-out($color-white, 0.25); // 0.75 alpha
$color-white-transparent: fade-out($color-white-300, 0.75); // 0.25 alpha

$color-primary: $color-pink;
$color-primary-light: lighten($color-primary, 6%);
$color-primary-dark: darken($color-primary, 40%);

$color-secondary: $color-black-100;
$color-bg: $color-white;
$color-light: $color-white;
$color-dark: $color-secondary;

/* ====================   TYPOGRAPHY   ==================== */

// Fonts
$ff-primary: DMSans, Arial, sans-serif;
$ff-secondary: null;

$font-color: $color-secondary;
$font-color-light: $color-white;
$font-color-accent: $color-primary;

$fs-base: 1rem;
$fs-sm: $fs-base * 0.875; // 14px HTML text-sm
$fs-lg: $fs-base * 1.125; // 18px HTML text-lg

$lh-base: 1.6; // HTML lh-base    // HTML lh-1
$lh-sm: 1.25; // HTML lh-sm
$lh-lg: 2; // HTML lh-lg

// Headings
$headings-color: null;
$headings-ff: $ff-primary;
$headings-fs: null;
$headings-fw: bold;
$headings-lh: 1.2;

$headings-fs: $fs-base * 1;
$fs-h1: $headings-fs * 3; // 48px
$fs-h2: $headings-fs * 2.5; // 40px
$fs-h3: $headings-fs * 2; // 32px
$fs-h4: $headings-fs * 1.625; // 26px
$fs-h5: $headings-fs * 1.25; // 20px
$fs-h6: $headings-fs * 0.875; // 14px

/* ====================   STRUCTURE   ==================== */

// GRID
$grid-gutter-width: 1.5rem;

// Spacers
$spacer: 1.25rem;
$spacer-sm: $spacer * 0.5;
$spacer-lg: $spacer * 1.5;
$spacer-xl: $spacer * 3;
$spacer-headings: $spacer * 1;

// bootstrap spacer map
$spacers: (
  0: 0,
  sm: $spacer-sm,
  md: $spacer,
  lg: $spacer-lg,
  xl: $spacer-xl,
  heading: $spacer-headings,
);

// Shadows
$shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
$shadow-sm: 0 0.225rem 0.35rem rgba($color-black, 0.075);
$shadow-lg: 0 1rem 3rem rgba($color-black, 0.175);
$shadow-inset: inset 0 1px 2px rgba($color-black, 0.075);

// z-index map
$z-index: (
  burger-menu: 100,
  header: 50,
);

// Borders
$border-color: $color-white-200;
$border-color-accent: $color-gray;

$border-1: 1px;
$border-2: 2px;
$border-3: 3px;

$border-radius: 0.4rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.6rem;
$border-radius-pill: 50rem;

// Underline
$underline-color: $color-primary;
$underline-thickness: 0.2em;
$underline-offset: 0.4em;
$underline-round-cap: true;

// Transitions
$transition: 0.2s ease-in-out;
