@mixin focus(
  $color: null,
  $radius: null,
  $offset: null,
  $size: null,
  $bg: null,
  $style: null,
  $fill: null
) {
  &:focus-visible {
    outline-color: $color;
    outline-style: $style;
    outline-width: $size;
    outline-offset: $offset;
    border-radius: $radius;
    background-color: $bg;
    svg {
      fill: $fill;
    }
  }
}

@mixin underline(
  $color: $color-dark,
  $thickness: 1px,
  $offset: 1px,
  $round-cap: true
) {
  position: relative;
  text-decoration: none;

  &:after {
    content: '';
    @include depth();
    position: absolute;
    left: 0;
    bottom: -#{$offset};
    width: 100%;
    @if not $round-cap {
      border-bottom: $thickness solid $color;
    } @else {
      height: $thickness;
      background-color: $color;
      border-radius: $thickness * 2;
    }
  }
}
