/* ====================   COLORS   ==================== */
// full size burger if > 60% vh option to pick %
// добавить текст -> close menu, close search
//Critical css
//bootstrap colours and other shit remove
//Модернизировать линк Спейс миксин
// рефактор кода футера
//Кнопка закрытия нотификейшена
// сделать предустановки для всех популярных ширины экранов 320 360
// px to rem plugin
// после ресайза с DESKTOP на MOBILE бургер закрывается мгновенно без транзишена
// only burger elements focusable https://bholmes.dev/blog/accessible-show-hide-animations/
// переделать бекдроп анимацию, чтоб была анимация при закрытии
// Переделать бургер анимации в js
// Burger сделать автофокус на первый айтем
//  LAZY image loading
// fix favicon не трогать svg в галп
//  сделать отдельную задачу для картинок, чтоб картинки не удалялись после перезапуска
//  проверить purgeCss и build
// очистить консоль логи
// хедрум хедер
// css magic для хедера
// mutation observer
// усовершенствовать все миксины и снипеты

$color-pink: hsl(336, 95%, 84%);
$color-black: hsl(0, 0%, 0%);
$color-black-100: hsl(0, 0%, 12%);
$color-gray: hsl(0, 0%, 45%);
$color-white: hsl(0, 0%, 100%);
$color-white-100: darken($color-white, 10%);

$color-primary: $color-pink;
$color-secondary: $color-black-100;
$color-accent: darken($color-primary, 40%);

$color-light: $color-white;
$color-dark: $color-black;

/* ====================   TYPOGRAPHY   ==================== */

// Fonts
$ff-primary: DMSans, Arial, sans-serif;
$ff-secondary: null;

$fs-base: 1rem;
$fs-sm: $fs-base * 0.875; // 14px HTML text-sm
$fs-lg: $fs-base * 1.125; // 18px HTML text-lg

$lh-base: 1.6; // HTML lh-base    // HTML lh-1
$lh-sm: 1.25; // HTML lh-sm
$lh-lg: 2; // HTML lh-lg

// Headings
$headings-color: null;
$headings-ff: null;
$headings-fs: null;
$headings-fw: bold;
$headings-lh: 1.2;

$headings-fs: $fs-base * 1;
$fs-h1: $headings-fs * 2.5; // 48px
$fs-h2: $headings-fs * 1.625; // 26px
$fs-h3: $headings-fs * 1.25; // 20px
$fs-h4: $headings-fs * 1.375; // 22px
$fs-h5: $headings-fs * 1.125; // 18px
$fs-h6: $headings-fs * 0.875; // 14px

/* ====================   STRUCTURE   ==================== */

// GRID
$grid-gutter-width: 1.5rem;

// Spacers
$spacer: 1.25rem;
$spacer-sm: $spacer * 0.5;
$spacer-lg: $spacer * 1.5;
$spacer-xl: $spacer * 3;
$spacer-headings: $spacer * 1;

// bootstrap spacer map
/* $spacers: (
  0: 0,
  sm: $spacer-sm,
  md: $spacer,
  lg: $spacer-lg,
  xl: $spacer-xl,
  heading: $spacer-headings,
); */

// Shadows
$shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
$shadow-sm: 0 0.225rem 0.35rem rgba($color-black, 0.075);
$shadow-lg: 0 1rem 3rem rgba($color-black, 0.175);
$shadow-inset: inset 0 1px 2px rgba($color-black, 0.075);

// z-index map
$z-index: (
  nav-search: 150,
  nav-menu: 100,
  header: 50,
  above-header-content-wrapper: 25,
);

$border-1: 1px;
$border-2: 2px;
$border-3: 3px;

$border-radius: 0.4rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.6rem;
$border-radius-pill: 50rem;
