@mixin focus(
  $color: $color-secondary,
  $radius: $border-radius-sm,
  $offset: 2px,
  $width: 2px,
  $style: solid,
  $bg: null
) {
  &:focus {
    transition: none !important;
    outline-color: $color;
    outline-style: $style;
    outline-width: $width;
    outline-offset: $offset;
    border-radius: $radius;
    background-color: $bg;
  }
}
