.disable-select {
  user-select: none;
}

.color-light {
  color: $color-light;
}

.color-dark {
  color: $color-dark;
}

.color-primary {
  color: $color-primary;
}

.color-accent {
  color: $color-accent;
}
.color-accent-light {
  color: $color-accent-light;
}

.color-secondary {
  color: $color-secondary;
}

.text-link {
  color: $color-accent;
  font-weight: bold;
  text-transform: uppercase;
  @include hover {
    text-decoration: underline;
  }
}

.text-sm {
  font-size: $fs-sm;
}

.text-lg {
  font-size: $fs-lg;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-light {
  font-weight: light;
}

.nowrap {
  white-space: nowrap;
}

.link-space {
  @include link-space();

  &-none {
    position: auto;
    content: none;
  }
}
