.disable-select {
  user-select: none;
}

.color-primary {
  color: $color-primary;
}

.color-accent {
  color: $color-accent;
}

.color-secondary {
  color: $color-secondary;
}

.text-sm {
  font-size: $fs-sm;
}

.text-lg {
  font-size: $fs-lg;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-light {
  font-weight: light;
}

.no-wrap {
  white-space: nowrap;
}
