@import 'navigation';

.above-header-content-wrapper {
  @include z-index(above-header-content-wrapper);
}

.notification {
  background: $color-secondary;
  margin: 0;
  color: $color-light;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: $fs-sm;
  &__link {
    color: $color-primary;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.header {
  font-size: $fs-sm;
  width: 100%;
  @include z-index(header);
  user-select: none;
  background-color: $color-light;
}

.header-relative-wrapper {
  position: relative;
}

.nav-belt {
  > * {
    @include flex($justify-content: center, $align-items: center);
    @include padding-top($spacer-sm);
    @include padding-bottom($spacer-sm);
  }
}

.logo-header {
  @include flex($justify-content: center, $align-items: center);
  @include media-breakpoint-up(sm) {
    padding-right: 1rem;
  }
}

.logo-text {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  font-size: 1.25rem;
  color: $color-secondary;
  text-transform: uppercase;
  @include underline();
  margin-left: 0.5em;
  white-space: nowrap;
}

.logo-header-icon {
  border-radius: 100%;
  @include depth();
  @include box(2.5rem, 2.5rem);
  @include media-breakpoint-up(lg) {
    @include box(4rem, 4rem);
  }
}

/* ====================   SEARCH   ==================== */

.input-wrapper {
  position: relative;
  @include flex($justify-content: center, $align-items: center);
  width: 100%;
  max-width: 35rem;
}

.nav-search-input {
  width: 100%;
  height: 2.5rem;
  padding: 0.25rem;
  outline: 1px solid $color-primary;
  border-radius: $border-radius-pill;
  padding-left: 3rem;

  &::placeholder {
    color: $color-secondary;
    padding-left: 0.5em;
  }
}

.nav-search-buttons {
  &__search {
    @include absolute(left 0 top 0);
    padding: 0 1rem;
    height: 100%;
  }

  &__search-icon {
    fill: $color-primary;
    @include box(1rem, 1rem);
  }

  &__close {
    @include link-space();
    margin-left: 1rem;
  }

  &__close-icon {
    fill: $color-secondary;
    @include rfs(2.5rem, height);
    @include rfs(2.5rem, width);
  }
}

/* ====================   MOBILE SEARCH   ==================== */

@include media-breakpoint-down(lg) {
  .mobile-search {
    visibility: hidden;
    transform: translateX(-100%);
    @include absolute(left 0 top 0);
    @include flex($justify-content: center, $align-items: center);
    background: $color-white;

    &._active {
      transform: none;
    }

    &.is-changing,
    &._active {
      visibility: visible;
      @include z-index(nav-search);
    }
  }

  .nav-search {
    @include flex($justify-content: center, $align-items: center);
    width: 100%;
  }
}

/* ====================   TOOLS   ==================== */

.nav-tools {
  @include flex($justify-content: center, $align-items: center);

  &__link {
    @include flex($justify-content: center, $align-items: center);

    margin-right: 1.25rem;
    padding: 0;

    @include media-breakpoint-down(lg) {
      @include depth();
      margin-right: 0.75rem;
      padding: 0.75rem;
      background-color: $color-primary;
      border-radius: 100%;
    }

    @include media-xs {
      margin-right: 0.5rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    margin: 0;
    display: none;
    color: $color-secondary;
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }

  &__icon {
    @include box(1rem);
    fill: $color-secondary;

    @include media-breakpoint-up(lg) {
      margin-right: 3px;
      fill: $color-primary;
    }
  }
}
