@import 'navigation';

.navbar {
  @include margin-top($spacer);
  @include margin-bottom($spacer);
}

.nav-belt {
  @include margin-bottom($spacer);
}

.logo {
  &-icon {
    @include rfs(5rem, height);
    @include rfs(13.75rem, width);
  }
}

/* ----------------------------------- SEARCH ----------------------------------- */

.nav-search {
  position: relative;

  &__btn {
    @include absolute(left 0);
    padding: 0 1rem;
    height: 100%;
  }

  &__icon {
    fill: $color-primary;
    @include box(1rem, 1rem);
  }

  &__body {
    height: 42px;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding-left: 3rem;
    outline: 0;

    &:hover {
      border: 1px solid darken($border-color, 20%);
      background: darken($color-bg, 2%);
    }

    &:focus {
      border: 1px solid $border-color-accent;
      background: darken($color-bg, 2%);
      &::placeholder {
        color: transparent;
      }
    }

    &::placeholder {
      color: $color-secondary;
    }
  }
}

.mobile-search._active {
  transform: none;
}

// mobile-search
@include media-breakpoint-down(lg) {
  .mobile-search {
    @include fixed(top 0 left 0);
    @include z-index(search);
    transform: translateX(-110%);
    display: flex;
    @include flex(flex, center, center);
    height: 7rem;
    @include gradient($color-primary, #d81159, horizontal);
    box-shadow: $shadow;
  }

  .nav-search {
    @include flex(flex, center, center);

    width: 100%;
    max-width: 600px;
    &__icon {
      fill: #d81159;
    }
  }

  .nav-search-btn-close {
    padding: 0.5rem;
    &__icon {
      fill: $color-light;
      @include box(3.5rem, 3.5rem);
    }
  }
}

/* ----------------------------------- TOOLS ----------------------------------- */

.nav-tools {
  @include flex(flex, center, center);
  &__link {
    @include flex(flex, center, center);
    padding: 0.4rem;
    margin-left: 0.3rem;
    background-color: $color-primary-light;
    border-radius: 100%;

    @include media-breakpoint-up(sm) {
      padding: 0.8rem;
      margin-left: 0.5rem;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 1rem;
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__name {
    display: none;
    color: $color-secondary;
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }

  &__icon {
    @include box(1rem);
    fill: #d81159;

    @include media-breakpoint-up(lg) {
      margin-right: 0.15rem;
      fill: $color-primary;
    }
  }
}




