@import 'navigation';

.header {
  @include z-index(header);
  @include media-breakpoint-down(lg) {
    @include sticky(top 0);
  }
}

.nav-belt {
  @include media-breakpoint-down(lg) {
    padding: $spacer-sm 0;
    background-color: $color-light;
  }
  @include padding-top($spacer);
  @include padding-bottom($spacer);
}

.logo-icon {
  @include rfs(5rem, height);
  @include rfs(13.75rem, width);
}

/* ----------------------------------- SEARCH ----------------------------------- */

.nav-search {
  position: relative;

  &__btn {
    @include absolute(left 0);
    padding: 0 1rem;
    height: 100%;

    &:hover {
      svg {
        fill: $color-primary-dark;
        transition: 0.4s;
      }
    }
  }

  &__icon {
    fill: $color-primary;
    @include box(1rem, 1rem);
  }

  &__body {
    padding: .3125rem;
    height: 1.875rem;
    @include media-breakpoint-up(md) {
      height: 2.625rem;
    }

    width: 100%;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding-left: 3rem;
    &::placeholder {
      padding-left: 0.5em;
    }

    &:focus,
    &:hover {
      border: 1px solid $color-primary;
      &::placeholder {
        color: $color-gray;
      }
    }
  }
}

.mobile-search._active {
  transform: none;
}

// mobile-search
@include media-breakpoint-down(lg) {
  .mobile-search {
    @include absolute(top 0 left 0);
    transform: translateY(-110%);
    @include flex(flex, center, center);
    z-index: 1;
    height: 4.5rem;
    background-color: $color-primary-dark;
    box-shadow: $shadow;
    @include media-breakpoint-up(sm) {
      height: 6rem;
    }
  }

  .nav-search {
    @include flex(flex, center, center);

    width: 100%;
    max-width: 600px;
    &__icon {
      fill: $color-primary-dark;
    }
  }

  .nav-search-btn-close {
    padding: 0.5rem;
    &__icon {
      fill: $color-light;
      @include rfs(3.5rem, height);
      @include rfs(3.5rem, width);
    }
  }
}

/* ----------------------------------- TOOLS ----------------------------------- */

.nav-tools {
  @include flex(flex, center, center);
  &__link {
    @include flex(flex, center, center);
    padding: 0.6rem;
    margin-left: 0.3rem;
    background-color: $color-primary-light;
    border-radius: 100%;

    @include media-breakpoint-up(sm) {
      padding: 0.8rem;
      margin-left: 0.5rem;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 1rem;
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__name {
    display: none;
    color: $color-secondary;
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }

  &__icon {
    @include box(0.75rem);
    fill: $color-primary-dark;
    @include media-breakpoint-up(sm) {
      @include box(1rem);
    }

    @include media-breakpoint-up(lg) {
      margin-right: 0.15rem;
      fill: $color-primary;
    }
  }
}
