.navigation {
  @include padding-bottom($spacer);
}

.navigation._active {
  transform: none;
}

.nav-menu {
  white-space: nowrap;
  &--main {
    font-weight: bold;
  }
}

.burger-toggler {
  &--close {
    fill: $color-light;
  }

  svg {
    @include rfs(3rem, width);
    @include rfs(3rem, height);
    margin-right: -0.6rem;
  }
}

// MOBILE
@include media-breakpoint-down(lg) {
  .navigation {
    transform: translateY(-110%);
    @include fixed(top 0 right 0 bottom 0);
    @include box(100%, 100%);
    @include z-index(burger-menu);
    margin: 0;
    overflow: auto;
    background: $color-secondary;
    color: $font-color-light;
    //box-shadow: $shadow-lg; // shadow for backdrop
  }

  .nav-mobile-header {
    @include sticky(top 0);
    padding-top: $spacer-sm;
    padding-bottom: $spacer-sm;
    @include flex(flex, space-between, center);
    background: inherit;
  }

  .nav-menu {
    font-size: 1.25rem;
    &__item {
      margin: 1rem 0;
    }
  }

  .nav-mobile-socials {
    @include flex(flex, left, flex-start);
   
    .social-icons__link {
      background: $color-primary;
    }
    .icon-social {
      fill: $color-secondary;
    }
  }
  .logo-icon-mobile {
    @include box(10.3125rem, 3.75rem );
  }
}

// DESKTOP
@include media-breakpoint-up(lg) {
  .nav-main {
    @include flex(flex, space-between, center);
  }

  .nav-menu {
    @include flex(flex, center, center);
    font-size: $font-size-sm;
    &--main {
      justify-content: left;
      .nav-menu__item {
        margin-right: 1rem;
      }
    }

    &--secondary {
      justify-content: right;
      .nav-menu__item {
        margin-left: 1rem;
      }
    }
  }
}
