.nav-toggler._active {
  display: block;
}

.nav-toggler-group {
  @include flex($justify-content: center, $align-items: center);
  min-width: 3.75rem;
  max-width: 3.75rem;
}

.nav-toggler {
  display: none;

  &--open > .nav-toggler-icon {
    @include box(2.125rem, 1.0625rem);
  }

  &--close > .nav-toggler-icon {
    @include box(2.5rem, 2.5rem);
  }

  &__text {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    margin-top: 0.5rem;
  }
}

.nav-menu {
  @include flex(
    $flex-direction: column,
    $flex-wrap: wrap,
    $justify-content: center,
    $align-items: flex-start
  );

  &--main {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.nav-body > hr {
  width: 100%;
}

.nav-menu__item:not(:last-child) {
  @include spacer-right('margin', $spacer);
}

.nav-mobile-socials .social-icons__item {
  padding: $spacer-sm 0;
}

.nav-menu__link {
  display: inline-block;
  padding: $spacer-sm 0;
}

/* ====================   MEDIA SECTION   ==================== */

@include media-breakpoint-between(sm, lg) {
  .navigation {
    height: auto;
  }

  .nav-body {
    @include flex(
      $justify-content: center,
      $align-items: center,
      $flex-direction: column
    );

    hr {
      margin: 0;
    }
  }

  .nav-menu {
    @include flex(
      $justify-content: center,
      $align-items: center,
      $flex-direction: row
    );
  }

  .nav-menu__item:not(:last-child) {
    @include spacer-right('margin', $spacer-lg);
  }

  .nav-mobile-socials > .social-icons {
    justify-content: center;
  }
}

@include media-breakpoint-down(lg) {
  .navigation {
    @include absolute(left 0);
    transform: translateX(100%);
    width: 100%;
    visibility: hidden;
    overflow-y: auto;
    transition: transform 0.2s ease-in-out;
    background: $color-light;

    &._active {
      transform: none;
    }

    &.is-changing,
    &._active {
      @include z-index(nav-menu);
      visibility: visible;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
  }

  .nav-menu {
    @include font-size($fs-base);
  }
}

@include media-breakpoint-up(lg) {
  .nav-mobile-socials {
    display: none;
  }

  .nav-toggler-group {
    display: none !important;
  }

  .nav-body {
    @include flex(
      $justify-content: space-between,
      $align-items: center,
      $flex-direction: row
    );
  }

  .nav-menu {
    margin: 0;
    @include flex(
      $justify-content: center,
      $align-items: center,
      $flex-direction: row
    );
  }
}
